{% extends "base_layout.html" %} {% block content %}
<p>
	The purpose of the data analytics web app is to look over the following course
	of action of students enrolled in College of Computing Studies in terms of
	gender. By this study we will be able to know what the following factors are
	on why genders have the difficulty in learning, gender operating differences
	in comprehending lessons and the ways to catch up in programming. The
	following results will be presented in a different sections in the menu. It
	starts with Factors, Clustered Data, Gender Analysis, and the overall
	evaluation of students in their learning in programming. This represent the
	insights and the results of the investigation of the study conducted.
</p>
{% endblock %}
